.title,
.menu,
.overview-info,
.overview-picture,
.content-section:not(.content-section-overview) {
    background-color: lightgray;
}

.layout {
    min-height: 100vh;
    display: grid;
    gap: 15px;
    grid-template-areas:
        "title title"
        "menu content";

    grid-template-columns: 300px auto;
    grid-template-rows: min-content auto;
}

.title {
    grid-area: title;
}

.menu {
    grid-area: menu;
}

.content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.content-section {

}

.content-section-overview {
    display: flex;
    gap: 15px;
}

.overview-picture {
    height: 500px;
    width: 500px;
    flex-shrink: 0;
    object-fit: cover;
}

.overview-info {
    padding: 10px;
}

.menu {
    padding: 10px;
}

.menu-list {
    padding: 0;
    margin: 0;
}

.menu-list-item {
    list-style: none;
}