.title,
.text,
.link {
    background-color: lightgray;
    padding: 15px;
}

body {
    padding: 20px 50px;
}

.layout {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.title {
}

.text {
}

.links {
    display: flex;
    gap: 15px;
}
@media only screen and (max-width: 1000px) {
    .links {
        flex-direction: column;
    }
}
.link {
    height: 10rem;
    flex-grow: 1;
}