.cases {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    max-width: 50rem;
    margin: auto;
}

.case {
    display: flex;
    background-color: lightgray;
    padding: 1rem;
    flex-grow: 1;
    width: 100%;
}

.case-image {
    height: 15rem;
    width: 15rem;
    background-color: grey;
}