.title,
.text,
.link,
.chapter {
    background-color: lightgray;
    padding: 15px;
}

body {
    padding: 20px 50px;
}

.layout {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.title {
}

.chapters {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.chapter {
    padding: 20px 50px;
}

.links {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

@media only screen and (max-width: 700px) {
    .links {
        flex-direction: column;
    }
}

.link {
    flex-grow: 1;
    min-width: 60px;
}